a:active {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
}
p:nth-of-type(1) {
  font-size: 150%;
}
.container:first-child::first-line {
  color: red;
}
tr:nth-child(even) {
  background-color: #333;
  color: white;
}
